input:focus{
	background-color: red;
}
#box{
	width: 550px;
	height: 200px ;
	background-color: #000;
	margin: auto;
	position: relative;
	border-style: double;
	border-color: red;
	background-image:url(https://i.ytimg.com/vi/oWKJAmOIZlQ/maxresdefault.jpg);

}

#result{
	padding: 20px 20px 20px 20px;	
	margin-left: 50px;
	width: 600px;
	height: 300px;
	position: absolute;
}
#r1 {
	padding: 20px 20px 20px 20px;
	width: 600px;
	height: 300px;
	position: absolute;
}
#r2{
	padding: 20px 20px 20px 20px;
	width: 600px;
	height: 300px;
	position: absolute;
}
#r3{
	padding: 20px 20px 20px 20px;
	width:600px;
	height:300px;
	position: absolute;
}

#r4{
	padding: 20px 20px 20px 20px;
	width: 600px;
	height: 300px;
	position: absolute;
}